{:aliases {:flowstorm {:classpath-overrides {org.clojure/clojure nil} ;; for disabling the official compiler
                       :deps                {com.github.jpmonettas/clojure        {:mvn/version "1.12.0-alpha4_3"}
                                             com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.3"}}}}}
